@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    font-family: "Anek Gujarati", sans-serif;
    background: linear-gradient(180deg, rgb(247 201 17 / 9%) 0%, rgba(255, 255, 255, 1) 100%);
}
/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
   background: linear-gradient(180deg, rgb(247 201 17 / 9%) 0%, rgba(255, 255, 255, 1) 100%);
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: #575228; 
}
.page-active {
    border: 1px solid #a2a2a2;
    background-color: #fffcdfbd;
}
.dragging {
    opacity: 0.3;
}
input[type="radio"]:checked {
    accent-color: #575228;
}
input[type="radio"]:checked + span {
    color: #575228;
    font-weight: 600;
}
.select-option{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml,<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 7.64575L10 12.6458L15 7.64575" stroke="%23414651" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-repeat: no-repeat;
   background-position: 97% 50%;
}
.swiper-pagination-bullet {
    width: 12px;
    height: 3px;
    background: #ffffff;
    border-radius: 0;
    opacity: 0.5;
}
.swiper-pagination-bullet-active {
    background: #ffffff;
    opacity: 1;
}
body .swiper-pagination {
    position: absolute;
    bottom: -3px    ;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 2px;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: -3px;
    left: 0;
    width: 100%;
}